.vc_tta-accordion {

  .vc_tta-controls-icon {
    display: none;
  }

  .vc_tta-panel-heading {
    text-transform: uppercase;
    position: relative;

    &:hover,
    &.active {
      color: $black;

      &:after {
        content: "\f0d8";
        background-color: $main-green;
      }
    }

    &:after {
      content: "\f0d7";
      font-family: $icon-font;
      color: $white;
      width: 27px;
      height: 27px;
      line-height: 27px;
      border-radius: 50%;
      background-color: #E6E6E6;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-13px);
    }

    &:before {
      content: "";
      width: 90%;
      height: 1px;
      background-color: #E6E6E6;
      position: absolute;
      left: 0;
      bottom: 0;

      @media (max-width: 480px) {
        width: calc(100% - 60px);
      }
    }

    a {
      color: #898E90;
      display: block;
      line-height: 50px;
    }

    .vc_tta-title-text {
      margin-right: 10px;
    }

    h4 {
      font-size: 14px;
      display: block;
      font-weight: normal;
      position: relative;
      margin: 0;
      z-index: 2;

      @media (max-width: 480px) {
        max-width: calc(100% - 60px);
      }

      .fa {
        margin-right: 10px;
        vertical-align: 1px;
      }
    }

  }

  .vc_active .vc_tta-panel-heading,
  .vc_tta-panel-heading:hover {

      a {
        color: $black;
      }

      &:after {
        content: "\f0d8";
        background-color: $main-green;
      }
  }

  .vc_tta-panel {
    margin-bottom: 18px;
  }

  .vc_tta-panel-body {
    display: none;
    padding-top: 10px;
    width: 90%;
  }
}
