.counter_like {
  margin-left: 10px;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-gear:before,
.icon-like:before,
.icon-unlike:before {
  display: inline-block;
  font-family: $icon-font;
  font-style: normal;
  color: $main-green;
}

.icon-like:before { content: "\f004"; }
.icon-unlike:before { content: "\f08a"; }

.jm-post-like {
  &:hover {
    .icon-unlike:before { content: "\f004"; }
  }
}
.icon-gear:before { 
  content: "\f013";
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}

@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

a.jm-post-like {
  font-weight: normal;
  display: inline-block;
  width: auto;
  color: $black;
  -moz-transition: all 0.3s ease-out 0.2s;
  -webkit-transition: all 0.3s ease-out 0.2s;
  -o-transition: all 0.3s ease-out 0.2s;
}